
#header-sticky-top {
  position: sticky;
  top: 0;
}

#Carrinho {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 0;
}


.open {
  width: 30%;
  transition: all .3s ease-in-out;
}


//Media query para utilização mobile
@media screen and (max-width: 768px) {
  .open {
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    transition: all .3s ease-in-out;
  }
  .icon-shop-open {
    right: 90%;
    transition: all .3s ease-in-out;
  }

}


.closed {
  width: 0%;
  transition: all .3s ease-in-out;
}

.icon-shop-close {
  right: 0%;
  transition: all .3s ease-in-out;
}



